<style>

.blue {
color: blue;
background-color: yellow;
font-size: 18px;
text-align: center;
}

.red {
color: red;
background-color: #ADFF2F;
font-size: 18px;
text-align: center;
}
</style>